.form {
  display: flex;
  position: relative;
  width: 55rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.input-city {
  font-family: inherit;
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  border: 0;
  border-radius: 3px;
  flex: 1; 
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow .2s;

  &:focus {
    outline: 0;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.1);
  }
}

.input-city:focus + .btn-search .search-svg {
  transform: scale(1.1);
}

.btn-search {
  position: relative;
  left: -30px;
  border-radius: 3px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.search-svg {
  fill: #5f5e5e;
  width: 2rem;
  transition: all .2s;
}

.btn-search:hover .search-svg {
  fill: #6c63ff;
}