.heading {
  color: $color-primary;
  text-align: center;
  padding-top: 5rem;

  &-primary {
    font-size: 6.3rem;
    font-weight: 700;
    @include respond(tablet) {
      font-size: 4.3rem;
    }

    @include firefoxAndEdge() {
      font-weight: 600;
    }
  }

  &-secondary {
    font-size: 2.3rem;
    font-weight: 400;
    @include respond(tablet) {
      font-size: 1.6rem;
    }
    
    @include firefoxAndEdge() {
      font-weight: 300;
    }
  }
}