.container {
  background: url('../assets/background.png') no-repeat left fixed;
  background-size: 40%;
  width: 100%;
  min-height: 100vh;

  @include respond(tablet) {
    background-size: 100%;
    background-position-y: 32%; 
  }
}