.weather-forecast {
  position: absolute;
  top: 50%;
  right: 5rem;
  max-width: 30rem;
  width: 100%;
  transform: translateY(-50%);
  animation: weather 1s ease-in;

  @include respond(mid) {
    position: static;
    margin: 0 auto;
    margin-top: 2rem;
    transform: translate(0);
  }
}

.weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s;
  overflow: hidden;
  background: #fff;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1), 0 2px 2px 2px rgba($color-black, .1);

    @include respond(tablet) {
      transform: scale(1);
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    }
  }
}

.weather-forecast-icon {
  width: 10rem;
  margin-left: -3rem;
}

.weather-detail {
  margin-left: -2rem;

  h3 {
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: .5rem; 

    @include firefoxAndEdge() {
      font-weight: 300;
    }
  }
}

.forecast-day {
  font-size: 2rem;
  font-weight: 400;
  color: $color-primary;

  @include firefoxAndEdge() {
    font-weight: 300;
  }
}

.temp {
  font-weight: 400;
  color: rgba($color-black, .9);

  @include firefoxAndEdge() {
    font-weight: 300;
  }
}
