.error-message {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: rgba(255, 0, 0, 0.88);
  color: rgba($color-white, 0.81);
}

.current-weather {
  max-width: 25rem;
  margin: 0 auto;
  margin-top: 5rem;
  box-shadow: 0 2px 2px 2px rgba($color-black, .2);
  background-color: $color-white;
  box-sizing: content-box;
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 5px;
  transition: all .3s;
  animation: weather 1s ease-in;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  @include respond(tablet) {
    margin-top: 12rem;
    margin-bottom: 1rem;

     &:hover {
      transform: scale(1);
      cursor: auto;
    }
  }
}

.city-name {
  font-size: 2.5rem;
  font-weight: 500;
  color: $color-primary;

  @include firefoxAndEdge() {
    font-weight: 300;
  }
}

.date-time {
  font-size: 2rem;
  font-weight: 500;
  color: rgba($color-black, 0.85);

  @include firefoxAndEdge() {
    font-weight: 300;
  }
}

.weather-description {
  font-size: 2.8rem;
  font-weight: 400;
  color: $color-primary;
  margin-top: 1rem;

  @include firefoxAndEdge() {
    font-weight: 300;
  }
}

.weather-icon {
  width: 10rem;
  margin-top: -1.5rem;
}

.current-temp {
  font-size: 3rem;
  font-weight: 400;
  color: rgba($color-black, 0.85);
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;

  @include firefoxAndEdge() {
    font-weight: 300;
  }
}

.temp-in-c,
.temp-in-f {
  display: none;
}

.selected {
  display: inline;
}

.temp-unit, sup {
  font-size: 1.8rem;
}

.temp-unit {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: $color-primary;
}

.active-unit {
  color: rgba($color-black, 0.85);
}

.extra-weather-details p {
  margin-bottom: 1rem;
}